
.button {
    background-color: #801727;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 550px;
}


.buttonGameWindow.b-close, .buttonGameWindow.bClose {
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

.buttonGameWindow {
    background-color: #0474bb;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}


#bpopLogin {

    background-color: #fff;
    background: url('./resource/img/bgMemberOnly2.png') no-repeat;
    /* border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 25px 5px #999;*/
    color: #111;
    display: none;
    min-width: 678px;
    min-height: 374px;
    padding:0px;

}

.bpopup {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;

    min-width: 750px;
    /*min-height: 600px;*/

    padding:0px;
}




